<div class="row">
    <div class="col"></div>
    <div class="col-md-4 py-2 float-right ">
        <div class="text-right">
            <a mat-button routerLink="/">Home</a>
            <span>>></span>
            <a mat-button routerLink="/category/lists">Category Lists</a>
            <span>>></span>
            <a mat-button>Create</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <span class="text-center"><h4 class="font-weight-bold">Create Category of Book</h4></span>
            </div>
            <div class="card-body">
                <form [formGroup]="getForm">
                    <div class="form-group">
                        <mat-form-field class="width-form">
                            <mat-label>Catogry Name</mat-label>
                            <input class="form-control" #catename matInput formControlName="catename" placeholder="enter category name">
                        </mat-form-field>
                    </div>
                    <div class="form-group float-right">
                        <button (click)="onSubmit(getForm)" [disabled]="getForm.invalid" mat-raised-button color="primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>