    <app-header></app-header>

    <app-sidebar></app-sidebar>

    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content pt-3">
            <div class="container-fluid">
                <div class="">
                    <div class="col-md-12">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
    <app-footer></app-footer>
