table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: auto;
}


/* ::ng-deep .mat-icon {
    height: 10px !important;
    width: 10px !important;
    font-size: 10px !important;
} */